<!-- https://www.freeformatter.com/html-formatter.html -->
<!-- https://www.sassmeister.com/ -->
<div class="news_component">
	<div data-v-3c85ce9f="" class="news">
		<div data-v-3c85ce9f="" class="text-wrapper">
		<a data-v-3c85ce9f="" href="https://www.foxbusiness.com/economy/jpmorgan-ceo-dimon-sees-very-strong-economy-this-year" target="_blank"><span data-v-3c85ce9f="" class="title">jpmorgan ceo dimon sees ‘very strong’ economy this year</span></a>
		<div data-v-3c85ce9f="" class="text">Jamie Dimon previews expected rate hikes in 2022. <br> JPMorgan Chase CEO joins 'Mornings with Maria for 3-part interview Tuesday at 6 am ET... <br> JPMorgan CEO Jamie Dimon has good feeling about where U.S economy is headed... <br> I think that the table is set for economy, FOX Business ...</div>
		<div data-v-3c85ce9f="" class="time">Jan 11, 2022, 09:22 PM</div>
		</div>
		<div data-v-3c85ce9f="" class="image_wrapper"><a data-v-3c85ce9f="" href="https://www.foxbusiness.com/economy/jpmorgan-ceo-dimon-sees-very-strong-economy-this-year" target="_blank"><img data-v-3c85ce9f="" loading="lazy" alt="jpmorgan ceo dimon sees ‘very strong’ economy this year" src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2022/01/0/0/dimon.jpg?ve=1&amp;tl=1" class="image"></a></div>
	</div>
</div>

<style lang="scss">
@import "../../../variables";
.news_component {
  margin: 10px 0px;
  text-align: left;
  color: black;
  position: relative;
}

.news {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  position: relative;
  background: white;
  overflow: hidden;
  padding: 10px 5px;
  border-bottom: 1px solid #333333;
  align-items: stretch;
}
@media only screen and (max-width: $mobile-desktop-threshold) {
  .news {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: $mobile-desktop-threshold) {
  .news {
    flex-direction: row-reverse;
  }
}
.news .image_wrapper {
  position: relative;
}
@media only screen and (max-width: $mobile-desktop-threshold) {
  .news .image_wrapper {
    flex-basis: 25%;
  }
}
@media only screen and (min-width: $mobile-desktop-threshold) {
  .news .image_wrapper {
    flex-basis: 13%;
  }
}
.news .image_wrapper .image {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
  border-style: none;
  top: 0;
  object-fit: cover;
  overflow: hidden;
}
@media only screen and (max-width: $mobile-desktop-threshold) {
  .news .image_wrapper .image {
    height: 100%;
  }
}
@media only screen and (min-width: $mobile-desktop-threshold) {
  .news .image_wrapper .image {
    height: 100%;
  }
}
.news .text-wrapper {
  flex-basis: 100%;
  display: block;
  margin-left: 3px;
}
.news .text-wrapper .tags .tag {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
  padding: 5px;
  display: inline-block;
}
.news .text-wrapper .title {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
  color: #111827;
  font-weight: 600;
  margin-top: 10px;
  font-size: 1.25em;
  margin-bottom: 0;
}
.news .text-wrapper .text {
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
  color: #333333;
  line-height: 1.4;
  margin-bottom: 2px;
  margin-top: 2px;
}

.text {
  font-size: 12px;
}

.date {
  display: none;
}
</style>
